@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700;800;900&display=swap');

body{
	font-family: 'Alegreya', serif;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding:100px 0;
    height: auto;
}


.title-presentation{
    text-align: center;
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 800;
}
.text-presentation{
    margin-bottom: 13px;
    font-weight: 500;
    text-align: justify;
    line-height: 24px;
}