@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700;800;900&display=swap');

:root{
    --gold: #F4BD76;
    --gold2: #F6CD8F;
    --black1: #1A1B1F;
    --black2: #30353B;
    --shadow: 0 8px 8px;
    --color_shadow: #00000088;
    --color-btn: #2193b0;
    --padding-btn: 20px 35px;
    --text-btn: #fff;
    --gris1: #dddddd;
    --gris2: #F2F3F4;
    --gris3: #f7d9d990;
    --celeste: #AED6F1;
    --azul: #3498DB;
}

html{
    scroll-behavior: smooth;
}
body{
	font-family: 'Alegreya', serif;
	background: #fafafa;
}
header {
    width: 100%;
    height: 700px;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(240, 100%, 60%, 0.459), hsla(189, 100%, 60%, 0.664)), url(../img/portada.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(240, 100%, 60%, 0.459), hsla(189, 100%, 60%, 0.664)), url(../img/portada.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}
nav{
    text-align: right;
    padding: 0;    
}
.nav__container{
    color: #fff;
    display: flex;      /*en una sola linea */
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-shadow: 4px 2px 2px rgba(0,0,0,0.8);
    font-weight: 500;
}

.logo_img{
    height: 70px;
}

.link{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    padding: 10px;
}
.link:hover{
    border-top: 3px solid coral;
    border-bottom: 3px solid coral;
}
.textos-header{
    color:#FFFFFF;
    font-size: 30px;
    height: 450px;
    width: 100%;
    align-items: center;
    text-align: center;
    text-shadow: var(--shadow)  var(--color_shadow);
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.textos-header h1{
	padding-top: 20px;
	font-weight: 500;
	font-size: 60px;
}
.textos-active{
	font-size: 72px;
	color: var(--gold);
}
.textos-header h2{
	padding: 0;
	font-weight: 400;
	font-size: 40px;
}
.textos-header h3{
	padding-top: 10px;
	font-weight: 500;
	font-size: 35px;
}
.textos-header p{
	padding-top: 20px;
	font-weight: 400;
	font-size: 30px;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0 80px 0;
    height: auto;
}
.title-presentation{
    text-align: center;
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 800;
}
.point-presentation{
    color: var(--gold);
}
.point{
    color: var(--gold);
}
.slogan-presentation{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 24px;
}
.slogan-active{
	color: var(--gold);
	font-weight: 700;
}
.text-presentation{
    margin-bottom: 16px;
    font-weight: 400;
    text-align: justify;
    line-height: 30px;
    font-size: 20px;
}
.universities{
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.college{
	border: var(--black2) 5px solid;
	min-width: 450px;
	width: 48%;
    height: 600px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
}
.img-college{
	width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    object-position: center top;
    -webkit-filter: blur(2px) sepia(50%);
	filter: blur(2px) sepia(50%);
}
.copy-college{
	position: absolute;
    bottom: 150px;
    left: 5%;
    height: 30px;
    width: 90%;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    color: #fff;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: var(--shadow) var(--color_shadow);
    padding: 40px 8px;
    display: flex;
    align-items: center;
}
.bandera-college{
	position: absolute;
    bottom: 180px;
    left: 30%;
    height: 220px;
    width: 220px;
    padding: 40px 8px;
}
.copy-college--modifier{
	bottom: 20px;
}
.logo-college{
	height: 70px;
	width: 70px;
	font-size: 40px;
    margin-right: 15px;
    background: ;
}
.logo-salta{
	width: 55px;
    object-fit: cover;
    border-radius: 53% 53% 25% 30%;
    object-position: center top;
    background: white;
}
.info-college{
	width: 70%;
}
.name-college{
	font-size: 24px;
    line-height:28px;
}
.about{
    background: #f2f2f2;
}
.about2{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.about__course{
    width: 48%;
}

.about__paragraph{
    margin: 20px 0;
    line-height: 1.5;
    font-weight: 400;
    text-align: justify;
    font-size: 20px;
}
.paragraph-active{
    font-weight: 700;
    color: var(--black2);
}

.about__picture{
    text-align: center;
    width: 48%;
}

.about__img{
    width: 95%;
}
.title{
    font-size: 2.5rem;
    text-align: left;
}

.title--border::after{
    content: "";
    display: block;
    width: 250px;
    margin-top: 20px;
    height: 4px;
    background-color: coral;
}
.cta{
    display: inline-block;
    background: var(--color-btn);
    color: var(--text-btn);
    padding: var(--padding-btn);
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}
.cta:hover{
    background: coral;
}
.subtitulo{
    color: var(--black2);
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}
.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img{
    width: 47%;
}

.checklist-servicio{
    width: 45%;
}

.service{
    margin-bottom: 20px;
}
.service p{
    font-weight: 400;
    font-size: 17px;
    line-height: 1.5;
    text-align: justify;
}
.n-service{
    margin-bottom: 7px;
    color: var(--color-btn);
}
.number{
    display: inline-block;
    /* 02 */
    background-image: linear-gradient(to top, #a18cd1 0%, var(--color-btn) 100%);
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-weight: 700;
}


table {
    align: center;
    border-collapse: collapse;
    border: 0;
    align-items: center;
    margin-top: 30px;
}
td, th {
    border: 1px solid var(--gris1);
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {

    background-color: var(--gris1);
}
.pa{
    text-align: center;
}
.titabla{
    background-color: var(--azul);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 18px;
    color: white;
    font-weight: bold;

}
.tab1{
    background-color: var(--gris2);
    padding-top: 15px;
    padding-bottom: auto;
    text-align: center;
    font-weight: 500;
}
.tab2{
    background-color: #AED6F1;
    padding-top: 15px;
    padding-bottom: auto;
    text-align: center;
    font-weight: 500;
}
.titablah{
    background-color: var(--azul);
    text-align: center;
    padding-top: 15px;
    padding-bottom: auto;
    color: white;
    font-weight: bold;
}
.tab1h{
    background-color: ;
    padding-top: 15px;
    padding-bottom: auto;
    text-align: center;
    font-weight: bold;
}
.tab2h{
    background-color: var(--celeste);
    padding-top: 15px;
    padding-bottom: auto;
    text-align: center;
    font-weight: bold;
}
.testimony{
    background: #f2f2f2;
}

.testimony-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.testimony__card{
    width: 30%;
    height: 500px;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
    min-width: 340px;
}

.testimony__img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    object-position: center top;
}
.subtitle{
    font-size: 42px;
}
.copy__section{
    color: var(--black2);
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 60px;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background:rgba(0, 118, 192, 0.781) ;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
    border-radius: inherit;
}

.overlay h2{
    color: #fff;
    font-weight: 700;
    font-size:30px;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.social-media{
    width: 90%;
    display: flex;
    padding-top: 20px;
}
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}
.social-media-icon:hover{
    background: #fff;
    color:#764ba2;
}
.testimony__card:hover .overlay{
    height:100%;
    cursor: pointer;
}
.testimony-boton{
    color: #fff;
    font-weight: 400;
    font-size:25px;
    position: absolute;
    top: 80%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px;
    text-decoration: none;
}
.testimony-boton:hover{
    font-weight: 700;
    text-shadow: var(--shadow)  var(--color_shadow);
    color: darkblue;
    background: #ffffff80;
}
@media screen and (max-width:450px){
    h1{
        font-size:22px;
    }
    .testimony-container{
        width: 98%;
    }
    .testimony-container .testimony__card{
        width: 80%;
    }
}
.flex{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal{
    display: none;
    position: fixed;
    z-index:1;
    overflow: auto;
    left: 0;
    top:0;
    width: 100%;
    height:100%;
    background: rgba(0, 0, 0, 0.452);
}

.contenido-modal{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    width: 50%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
    animation-name: modal;
    animation-duration: 1s;
}
@keyframes modal{
    from{top:-330px; opacity:0;
    }
    to{top:0; opacity:1;
    }
}
.close{
    color: #f2f2f2;
    font-size:30px;
    font-weight: bold;
}
.close:hover{
    color:#7f8c8d;
    text-decoration: none;
    cursor: pointer;
}

.modal-header, .footer{
    padding: 8px 16px;
    background: #34495e;
    color:#f2f2f2;
}
p{
    text-align: justify;
}
.modal-body{
    padding: 20px 16px;
}
.slogan-modal{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 24px;
}
.modal-body p{
    margin-bottom: 16px;
    font-weight: 400;
    text-align: justify;
    line-height: 30px;
    font-size: 20px;
}
@media screen and (max-width:900px){
    .contenido-modal{
        width: 90%;
    }
}
.activ{
    display: flex;
}
.actividad-section{
    background: #f0f0f0;
}
.img{
    height: 100%;
    border-radius: 10px;
    width: 57%;
    min-width: 462px;
}
.background__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.card{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    object-position: center;
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
    flex-wrap: wrap;
}
.cards__text{
    box-shadow: 0 0 6px var(--color_shadow);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    width: 37%;
    min-width: 320px;
    border-radius: 10px;
}
.card__title{
    font-size: 40px;
    color: #fff;
    margin-bottom: 8px;
    font-size: 35px;
}
.card__copy{
    color: var(--gris3);
    margin-bottom: 16px;
    text-align: left;
}
.card__date{
    color: var(--gold2);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}
.card__button{
    display: block;
    background: linear-gradient(180deg, #F7CE90 0%, #F4BD76 100%);
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    color: var(--black1);
    font-weight: 700;
    text-align: center;
    padding: 12px 0;
}
.card__button:hover{
    background: var(--color-btn);
    color: white;
}
.slogan-actividades{
    color: var(--black2);
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 60px;
}
.subtitulo-act{
    color: var(--black2);
    font-size: 40px;
    text-align: left;
    font-weight: 700;
    margin-bottom: 30px;
}
.programa{
    background: #AED6F188;
}
.footer1{
    position: relative;
    padding: 160px 0 50px ;
    background: #f0f0f0;
}

.footer1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    background: #AED6F188;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 50% 100%);

}

.footer__contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    place-items: center;
    margin-bottom: 30px;
}

.footer__copy{
    margin: 20px 0;
    font-weight: 300;
}


.footer__picture{
    margin: 0;
}

.footer__img{
    width: 100%;
}

.footer__copyright{
    padding-top: 30px;
    border-top: 2px solid #918484;
    text-align: center;
}

.footer__copyright::after{
    content: " hola@alexcgdesign.com";
}
.form{
    width: 90%;
    min-width: 350px;
    margin: 0 auto;
    margin-top: 30px;
    height: auto;
    position: relative;
    border-radius: 6px;
}
.input{
    width: 100%;
    height: 10px;
    padding: 22px 10px;
    outline: none;
    font-family: inherit;
    border-radius: 6px;
    border: 1px solid var(--black1);
    margin:6px;
}
.submit{
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    color: #fff;
    border: none;
    border-radius: 6px;
    font-family: inherit;
    font-weight: 500;
    font-size: 30px;
    margin: 3px;
}
.slogan-footer{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 24px;
}
.slogan-footer span{
    font-weight: 700;
    color: coral;
}
.footer2{
    margin-top: 20px;
    background: #fcfcfc;
}
.footer__caption{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}

.title__footer{
    font-size: 30px;
    margin-bottom: 32px;
}

.download{
    width: 50%;
}

.download__app{
    display: flex;
}

.download__item{
    display: flex;
    padding: 18px 12px;
    border-radius: 6px;
    border: 1px solid var(--black2);
    width: 42%;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 16px;
}

.download__logo{
    font-size: 40px;
    margin-right: 20px;
}

.download__title{
    font-size: 18px;
}

.footer__copy{
    width: 100%;
    color: var(--black2);
    display: flex;
    flex-wrap: wrap;
}

.copyright{
    width: 100%;
}

.politica__privacidad{
    color: inherit;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.politica__privacidad:hover{
    text-decoration: underline;
}

.politica__privacidad--margin{
    margin-right: 10px;
}

.get-email{
    width: 50%;
}

.socialmedia{
    margin-top: 24px;
    display: flex;
    color: var(--black2);
}

.socialmedia__icon{
    font-size: 25px;
    margin-right: 30px;
    display: inline-block;
}
.socialmedia__icon:hover{
    color: coral;
}
.socialmedia__legend{
    color: var(--black2);
    margin-right: 16px;
}

.contact{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    color: #fff;
}

.item__contact{
    width: 25%;
    padding: 60px 0;
    text-align: center;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);

}


.item__contact--gold{
    background: linear-gradient(180deg, #F7CE90 0%, #F4BD76 100%);
    color: var(--black1);
}

.contact__icon{
    font-size: 20px;
    color: var(--gold1);
    line-height: 23px;
    margin-right: 4px;
    font-weight: 400;
}

.contact__icon--modifier{
    color: var(--black1);
}

.contact__title{
    font-size: 16px;
    line-height: 20px;
}
.submit:hover{
    background: coral;
}
.visitar{
     background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    color: #fff;
    border: none;
    border-radius: 6px;
    font-family: inherit;
    font-weight: 500;
    font-size: 30px;
    margin: 3px;
    text-decoration: none;
    padding: 10px;
    margin: 15px;
}
.visitar:hover{
    background: coral;
}
.download__item:hover{
    background: var(--gris1);
}