@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700;800;900&display=swap');

:root{
    --gold: #F4BD76;
    --gold2:#F6CD8F;
    --black1: #1A1B1F;
    --black2: #30353B;
    --shadow: 0 8px 8px;
    --color_shadow: #00000088;
    --color-btn: #2193b0;
    --padding-btn: 20px 35px;
    --text-btn: #fff;
    --gris1: #dddddd;
}

html{
    scroll-behavior: smooth;
}
body{
	font-family: 'Alegreya', serif;
	background: #fafafa;
}
header {
    width: 100%;
    height: 700px;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(240, 100%, 60%, 0.459), hsla(189, 100%, 60%, 0.664)), url(../img/portada.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(240, 100%, 60%, 0.459), hsla(189, 100%, 60%, 0.664)), url(../img/portada.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}
nav{
    text-align: right;
    padding: 0;    
}
.nav__container{
    color: #fff;
    display: flex;      /*en una sola linea */
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-shadow: 4px 2px 2px rgba(0,0,0,0.8);
    font-weight: 500;
}

.logo_img{
    height: 70px;
}

.link{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    padding: 10px;
}
.link:hover{
    border-top: 3px solid coral;
    border-bottom: 3px solid coral;
}
.textos-header{
    color:#FFFFFF;
    font-size: 30px;
    height: 450px;
    width: 100%;
    align-items: center;
    text-align: center;
    text-shadow: var(--shadow)  var(--color_shadow);
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.textos-header h1{
	padding-top: 20px;
	font-weight: 500;
	font-size: 60px;
}
.textos-active{
	font-size: 72px;
	color: var(--gold);
}
.textos-header h2{
	padding: 0;
	font-weight: 400;
	font-size: 40px;
}
.textos-header h3{
	padding-top: 10px;
	font-weight: 500;
	font-size: 35px;
}
.textos-header p{
	padding-top: 20px;
	font-weight: 400;
	font-size: 30px;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0 80px 0;
    height: auto;
}
.title-presentation{
    text-align: center;
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 800;
}
.point-presentation{
    color: var(--gold);
}
.slogan-presentation{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 24px;
}
.slogan-active{
	color: var(--gold);
	font-weight: 700;
}
.text-presentation{
    margin-bottom: 16px;
    font-weight: 400;
    text-align: justify;
    line-height: 30px;
    font-size: 20px;
}
.universities{
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.college{
	border: var(--black2) 5px solid;
	min-width: 450px;
	width: 48%;
    height: 600px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
}
.img-college{
	width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    object-position: center top;
    -webkit-filter: blur(2px) sepia(50%);
	filter: blur(2px) sepia(50%);
}
.copy-college{
	position: absolute;
    bottom: 150px;
    left: 5%;
    height: 30px;
    width: 90%;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    color: #fff;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: var(--shadow) var(--color_shadow);
    padding: 40px 8px;
    display: flex;
    align-items: center;
}
.bandera-college{
	position: absolute;
    bottom: 180px;
    left: 30%;
    height: 220px;
    width: 220px;
    padding: 40px 8px;
}
.copy-college--modifier{
	bottom: 20px;
}
.logo-college{
	height: 70px;
	width: 70px;
	font-size: 40px;
    margin-right: 15px;
    background: ;
}
.logo-salta{
	width: 55px;
    object-fit: cover;
    border-radius: 53% 53% 25% 30%;
    object-position: center top;
    background: white;
}
.info-college{
	width: 70%;
}
.name-college{
	font-size: 24px;
    line-height:28px;
}
.about{
    background: #f2f2f2;
}
.about2{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.about__course{
    width: 48%;
}

.about__paragraph{
    margin: 20px 0;
    line-height: 1.5;
    font-weight: 400;
    text-align: justify;
    font-size: 20px;
}
.paragraph-active{
    font-weight: 700;
    color: var(--black2);
}

.about__picture{
    text-align: center;
    width: 48%;
}

.about__img{
    width: 95%;
}
.title{
    font-size: 2.5rem;
    text-align: left;
}

.title--border::after{
    content: "";
    display: block;
    width: 250px;
    margin-top: 20px;
    height: 4px;
    background-color: coral;
}
.cta{
    display: inline-block;
    background: var(--color-btn);
    color: var(--text-btn);
    padding: var(--padding-btn);
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}
.subtitulo{
    color: var(--black2);
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
}
.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img{
    width: 47%;
}

.checklist-servicio{
    width: 45%;
}

.service{
    margin-bottom: 20px;
}
.service p{
    font-weight: 400;
    font-size: 17px;
    line-height: 1.5;
    text-align: justify;
}
.n-service{
    margin-bottom: 7px;
    color: var(--color-btn);
}

.number{
    display: inline-block;
    /* 02 */
    background-image: linear-gradient(to top, #a18cd1 0%, var(--color-btn) 100%);
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-weight: 700;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%; 
    border: 0;
    align-items: center;
    margin: 50px;
}

td, th {
    border: 1px solid var(--gris1);
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {

    background-color: var(--gris1);

}